*
    scroll-behavior: smooth
#pointCarre 
    height: 5px
    width: 5px
    background-color: black
.clairSombre
    height: 20px
    width: 20px
    border: 0.5px black solid
    border-radius: 20%
nav>ul>li>a
    color: black
    font-size: 10px
#slider-1
    background-color: #f4f4f4
.imgslider>img
    height: 400px
    width: 300px

.imgLogoSlider>img
    height: 100px   
    transition: 2s

.imgcards1
    background-image: url('../../../../public/img/services/service-1.jpg')
    background-size: 90% 
    background-repeat: no-repeat
    background-position: center
    height: 200px  
.imgcards2
    background-image: url('../../../../public/img/services/service-2.jpg')
    background-size: 90% 
    background-repeat: no-repeat
    background-position: center
    height: 200px 
.imgcards3
    background-image: url('../../../../public/img/services/slider-3.jpg')
    background-size: 90% 
    background-repeat: no-repeat
    background-position: center
    height: 200px 
#imgProduit
    img
        height: 260px
        width: 350px
        transition: 2s

hr 
    background-color: white
    width: 300px
    left: 0 
    transition: 2s
.modal1 
    position: fixed
    left: 50%
    transform: translate(-50%)
    opacity: 0
    visibility: hidden
    box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75)
    z-index: 1111
    background-color: white
.salut2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100vh
    margin: 50px 
#inscription
    display: none

#collapse
    height: 50px
    width: 50px
    margin-left: 10px
    display: none

@media (min-width:300px) and (max-width:990px)
    nav>ul>li
        display: none
    #collapse
        display: block
    .imgLogoSlider>img
        height: 45px

@media (min-width:300px) and (max-width:1200px)
    #imgProduit
        img
            height: 100px
            width: 140px


// yasmina
    #Y-image
  padding: 0
  margin: 0
  position: relative
  display: flex
  align-items: center

.image1
  background-image: url(../../img/cta-bg.jpg)
  background-repeat: no-repeat
  height: 800px
  width: 1800px
  margin: 0
  background-position: 9px
  align-content: center

  h1
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    padding-top: 350px

  #learn
    display: block
    align-items: center
    justify-self: center
    text-align: center
    background-color: #e41445
    border-radius: 5px
    height: 35px
    margin-left: 850px
    font-size: small

  a
    text-decoration: none
    color: white
    font-size: 15px


/* carrousel mini 4x4
.col-sm-3
  transition: all 1.5s ease 0s 
  opacity: 1
  
.hot
  text-align: center
  padding-top: 50px
  font-weight: bold

li.active
  background-color: black
.card-title
  font-weight: bold
.prixGris 
    color: grey
    text-decoration: line-through

.card-subtitle 
  color: grey
.prix
  color: #e41445    

.sale 
  color: white
  background-color:  #e41445
  width: 60px
  height: 60px
  border-radius: 50px
  display: flex
  align-items: center
  justify-content: center

.text-center
  display: flex
  flex-direction: column

/*x3 CARDS

.cards
  display: flex
  text-align: center
  align-content: center
  justify-content: space-around
  padding-top: 100px
  padding-bottom: 100px

.card-body
  background-color: rgb(235, 229, 222)
  border: none

.learn2
  background-color: grey
  color : white
/*footer

.footerstyle
  position: relative
  display: flex
  flex-wrap: nowrap
  justify-content: space-around
  color: rgb(235, 229, 222)

.trois
  display: flex
  flex-wrap: wrap
  flex-direction: column

.d1, .d2, .d3, .d4
  text-decoration: none
  color: rgb(235, 229, 222)

.f1
  border: 2px solid rgb(235, 229, 222)
  text-decoration: none
  color: antiquewhite
  border: 2px solid rgb(235, 229, 222)
  text-decoration: none
  color: antiquewhite

.f2, .f3, .f4, .f5, .f6, .f7, .f8, .f9, .f10
  border: 2px solid rgb(235, 229, 222)
  text-decoration: none
  color: rgb(235, 229, 222)

.copy
  display: flex
  justify-content: center
  background-color: black
  color: rgb(235, 229, 222)
  padding-bottom: 0
  margin-bottom: 0
  height: 50px
  align-items: center
